#!/usr/bin/env bash

# Default task, help
function task:help {
  printf "%s <task> [args]\n\nTasks:\n" "${0}"

  compgen -A function | sed -En 's/task:(.*)/\1/p' | cat -n
}

TIMEFORMAT="Task completed in %3lR"
time "task:${@:-help}"
